/*calendar*/

$greenText: #00a65a;
$greenBackground: #5bbc2e;
$wite: #fff;

.project-view {
  .to-day {
    color: $greenText;
    font-weight: bold;
    padding: 7px 0;
    margin: 0 15px;
  }

  .to-day-refresh {
    color: $greenText;
    font-weight: bold;
  }

  .add-time {
    margin-left: 10px;
  }
}

.active-day {
  color: $wite;
  background-color: $greenBackground;
}

.datepicker table tr td.disabled {
  opacity: .5;
}


.b-activiti__common {
    height: 12px;
    background-size: 8px 1.7px !important;
}
.b-activity__level-parent {
    width: 79px;
    margin-right: 2px;
    cursor: pointer;
    background: linear-gradient(90deg,#ccc 0,#ccc 90%,#fff 90%,#fff 100%) left center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc',endColorstr='#ffffff',GradientType=1);
}
.b-activity__level-value {
    position: absolute;
    max-width: 79px;
    left: 0;
    top: 0;
    background: linear-gradient(90deg,#7bd454 0,#7bd454 90%,#fff 90%,#fff 100%) left center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bd454',endColorstr='#ffffff',GradientType=1);
}
.b-date__picker {
    width: 100%;
}
.b-hour {
    // color: #fff;
    max-width: 25px;
    text-align: center;
    margin: 0 5px 2px 0;
    // background-color: #00a65a;
}
.b-snapshot {
    margin: 0 2px;
    position: relative;
    height: 100px;
    border: 1px dashed #d2d6de;

    .snapshot__image {
        height: 100px;
        position: relative;

        .img-responsive {
            height: 98px;
            object-fit: cover;
            margin: 0 auto;
        }
    }
}
.b-snapshots-row {
    [class|="col"] {
        padding: 0;
    }
}
.b-swatch {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;

    &.b-tracked-swatch {
        background-color: #5bbc2e;
    }
    &.b-manual-swatch {
        background-color: #f7ca3c;
    }
}
.b-today {
    margin-left: 10px;
}
.b-time {
    margin-right: 15px;
    display: inline;

    .total {
        margin-right: 5px;
    }
}

.w-controls {
    display: flex;
    align-items: flex-end;
}
.w-date__picker {
    width: 100%;
    display: flex;
    //padding: 0 20px;
    align-items: flex-end;
}
.w-row__grid {
    .b-hour {
        width: 5%;
        height: 150px;
        padding-top: 60px;
    }

    .b-snapshots-row {
        width: 95%;
    }
}
.w-snapshot__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.comment-row {
  height: 24px;
  margin-top: 7px;

  .stat-data {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 9px;
    padding: 1px 10px;
    font-size: 13px;
  }

  .stat-data.online {
    background-color: #51ba1a;
    color: #fff;
  }

  .stat-data.manager {
    background-color: #f4f00c;
    color: #000;
  }

  .stat-data.offline {
    background-color: #c7c2c2;
    color: #000;
  }

}
