<header class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript: void(0);">Upwork testing</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="questions">Вопросы</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="editor">Редактор</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="statistics">Статистика</a>
                </li>
            </ul>
        </div>
    </nav>    
</header>

<div class="container" ui-view> </div>