<span class="help-block" ng-message="required">Поле обязательно для заполнения.</span>
<span class="help-block" ng-message="email">Введен некорректный E-email адрес.</span>
<span class="help-block" ng-message="phone">Введен некорректный номер телефона.</span>
<span class="help-block" ng-message="number">Поле может содержать только числа.</span>
<span class="help-block" ng-message="date">Введена некорректная дата.</span>
<span class="help-block" ng-message="confirmPassword">Поле "Подтвердите пароль" не совпадает с "Пароль".</span>