<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="admin.users">
                        <b>TEAMGEIST</b>
                    </a>
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                    <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                    Статистика <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ui-sref="admin.users">Список пользователей</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="admin.projects">Список проектов</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ui-sref="admin.general-statistics">Общая статистика</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ui-sref="logout" href="javascript: void(0);">
                                <i class="ion-person"></i> <span class="hidden-xs">Выход</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <div class="padding-block-2-0">
                <flash-message duration="30000"> </flash-message>
            </div>
        </div>

        <div class="container" ui-view> </div>
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.11
            </div>
            <strong>Copyright &copy; 2009-2017 <a href="http://www.faceit-team.com">FaceIT</a>.</strong> All rights reserved.
        </div><!-- /.container -->
    </footer>
</div><!-- ./wrapper -->
