<div class="quaere-edit">

    <ol class="breadcrumb">
        <li><a href="javascript: void(0);" ui-sref="questions">Вопросы</a></li>
        <li class="active">Редактирование вопроса</li>
    </ol>

    <div class="panel panel-default" ng-class="{ ' panel-success' : Quaere.isAnswered }">
        <div class="panel-heading" id="heading">
            <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактирование вопроса</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <strong>Тип теста:</strong> {{ Quaere.form.category }}
                </div>
                <div class="col-md-4">
                    <strong>Проверен:</strong>
                    <strong class="text-success" ng-show="Quaere.isAnswered">Да</strong>
                    <strong class="text-danger" ng-show="!Quaere.isAnswered">Нет</strong>
                </div>
                <div class="col-md-4">
                    <strong>Добавлен:</strong> {{ Quaere.created }}
                </div>
            </div>
            <hr>
            <div class="text-center" ng-show="Quaere.image">
                <img src="/static/screenshots/{{ Quaere.image }}">
                <hr>
            </div>

            <form ng-submit="Quaere.updateQuaere(Quaere.form)" id="quaere">
                <div class="form-group">
                    <label for="score">Изменить тип теста:</label>
                    <select
                        class="form-control"
                        ng-model="Quaere.form.category"
                        ng-options="item._id as (item._id.toUpperCase() + (item.count != '' ? ' (' + item.count + ')' : '')) for item in Quaere.technologies">
                    </select>
                </div>

                <div class="form-group">
                    <label for="score">Оценка:</label>
                    <input type="number" min="0" max="5" step="0.01" class="form-control" ng-model="Quaere.form.score">
                </div>

                <div class="form-group">
                    <label for="score">Вопрос:</label>
                    <textarea class="form-control" rows="8" ng-model="Quaere.form.question"></textarea>
                </div>

                <div class="answers" ng-if="Quaere.form.answers.length > 0">
                    <label class="question-note" ng-if="Quaere.multiselect != ''">{{ Quaere.multiselect }}</label>
                    <p></p>
                    <label for="score">Варианты ответов:</label>
                    <div class="form-group">
                        <div id="answerOptions" class="oOptGrp oOptBoxGrp" style="width: 100%;">
                            <div class="oOpt oOptBox" ng-repeat="answer in Quaere.form.answers" ng-if="Quaere.multiselect == ''">
                                <label class="oOptLbl" ng-class="{active: answer.answered}">
                                    <input type="radio" class="hidden" ng-value="$index" ng-model="Quaere.answered" ng-change="Quaere.cheked()">
                                    <pre>{{ answer.answer }}</pre>
                                </label>
                            </div>
                            <div class="oOpt oOptBox" ng-repeat="answer in Quaere.form.answers" ng-if="Quaere.multiselect != ''">
                                <label class="oOptLbl" ng-class="{active: answer.answered}">
                                    <input type="checkbox" class="hidden" ng-value="!answer.answered" ng-model="answer.answered">
                                    <pre>{{ answer.answer }}</pre>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <a class="btn btn-danger pull-left" data-toggle="modal" data-target="#delteQuere">Удалить</a>
                    <a class="btn btn-default" ng-click="Quaere.answeredQuaere()">Проверен</a>
                    <button class="btn btn-warning pull-right" type="submit" form="quaere">Обновить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Проверка кода</h3>
        </div>
        <div class="panel-body">
            <strong>
                <pre ng-model="Quaere.codeResult.out"></pre>
            </strong>
            <hr>
            <pre class="text-danger">{{ Quaere.codeResult.err }}</pre>
            <br>
            <textarea id="testingcode" class="form-control" ng-model="Quaere.code" rows="6"></textarea>
            <br>
            <button class="btn btn-primary pull-right" ng-click="Quaere.testingCode()">Отправить</button>
        </div>
    </div>

</div>

<div id="delteQuere" class="modal fade" role="dialog" aria-labelledby="labelDeleteQuaere">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="labelDeleteQuaere" class="modal-title">Удаление вопроса</h4>
            </div>

            <div class="modal-body">
                <strong>Вы действительно хотите удалить вопрос?</strong>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Отмена</button>
                <button class="btn btn-danger pull-right" type="button" ng-click="Quaere.deleteQuaere()">Удалить</button>
            </div>
        </div>
    </div>
</div>
