.quaere-edit img {
  max-width: 100%;
}

.quaere-edit .question {
  color: #666;
  font-weight: bold;
  padding-bottom: 20px;
}

.quaere-edit .question-note {
  color: #5ad048; 
  font-weight: bold;
}

.oOpt {
  display: block;
  margin-bottom: 10px;
}

.oOptBoxGrp .oOpt.oOptBox {
  height: auto;
  width: 100%;
  text-align: left;
  background: #f5f5f2 -moz-linear-gradient(center top , #fff 0px, #f5f5f2 100%) repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
  color: #7c7c7a;
  display: inline-block;
  overflow: hidden;
  text-indent: 0;
  vertical-align: top;
}

.oOpt.oOptBox:hover, 
.oOpt.oOptBox.active {
  box-shadow: none;
  text-decoration: none;
}

.radio label, 
.checkbox label,
.oOptLbl,
.oOptLbl-view {
  min-height: auto;
  font-weight: bold;
  width: 100%;
  height: auto;
  padding: 11px;
  margin: 4px;
}

.oOptLbl:hover,
.oOptLbl.active {
  margin: 0;
  border: 4px solid #5bbc2e;
  color: #252523;
}

.oOptBox-multiselect {
  color: #5bbc2e;  
}
.oOptLbl-view.active {
  margin: 0;
  border: 4px solid #5bbc2e;
  color: #252523;
}

pre {
  background: none;
  border: none;
  overflow: auto;
  border-radius: 4px;
  display: block;
  padding: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: inherit;
  font-size: 1em;
  margin: 0 !important;
  color: #7c7c7a;
  word-break: normal;
}
