<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Добавить пользователя</h4>
            </div>
            <div class="modal-body">

               <form ng-submit="AdminUsers.createForm(AdminUsers.user)" name="AdminUsers.FormCreate" id="formCreate">
                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.email.$touched && AdminUsers.FormCreate.email.$invalid }">
                        <label>E-mail:</label>
                        
                        <input type="email" class="form-control" name="email" ng-model="AdminUsers.user.email" required>

                        <div ng-messages="AdminUsers.FormCreate.email.$touched && AdminUsers.FormCreate.email.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.first_name.$touched && AdminUsers.FormCreate.first_name.$invalid }">
                        <label>Имя:</label>
                        
                        <input type="text" class="form-control" name="first_name" ng-model="AdminUsers.user.first_name" required>

                        <div ng-messages="AdminUsers.FormCreate.first_name.$touched && AdminUsers.FormCreate.first_name.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.last_name.$touched && AdminUsers.FormCreate.last_name.$invalid }">
                        <label>Фамилия:</label>
                        
                        <input type="text" class="form-control" name="last_name" ng-model="AdminUsers.user.last_name" required>

                        <div ng-messages="AdminUsers.FormCreate.last_name.$touched && AdminUsers.FormCreate.last_name.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Тип пользователя:</label>
                    
                        <select class="form-control" name="role" ng-model="AdminUsers.user.role">
                            <option value="blocked">Удален</option>
                            <option value="client">Клиент</option>
                            <option value="developer">Разработчик</option>
                            <option value="manager">Менеджер</option>
                            <option value="admin">Админ</option>
                        </select>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.office_loc_token.$touched && AdminUsers.FormCreate.office_loc_token.$invalid }" ng-show="AdminUsers.user.role == 'developer'">
                        <label>Токен (office.loc):</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="office_loc_token" ng-model="AdminUsers.user.office_loc_token">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="AdminUsers.generateToken()">Генерировать</button>
                            </span>
                        </div>

                        <div ng-messages="AdminUsers.FormCreate.office_loc_token.$touched && AdminUsers.FormCreate.office_loc_token.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.password.$touched && AdminUsers.FormCreate.password.$invalid }">
                        <label>Пароль:</label>
                        
                        <input type="password" class="form-control" name="password" ng-model="AdminUsers.user.password" required />

                        <div ng-messages="AdminUsers.FormCreate.password.$touched && AdminUsers.FormCreate.password.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminUsers.FormCreate.confirmPassword.$touched && AdminUsers.FormCreate.confirmPassword.$invalid }">
                        <label>Подтвердите пароль:</label>
                        
                        <input type="password" 
                               class="form-control"
                               name="confirmPassword" 
                               ng-model="AdminUsers.user.confirmPassword" 
                               data-confirm-password="AdminUsers.user.password" 
                               required />

                        <div ng-messages="AdminUsers.FormCreate.confirmPassword.$touched && AdminUsers.FormCreate.confirmPassword.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    Отмена
                </button>
                
                <button type="submit" class="btn btn-success" form="formCreate">
                    Добавить
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>