body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(./../images/dark-grey-tile.png) !important;
}

.padding-block-0-1 {
  padding-bottom: 10px;
}

.padding-block-1-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-block-1-0 {
  padding-top: 10px;
}

.padding-block-0-2 {
  padding-bottom: 20px;
}

.padding-block-2-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-block-2-0 {
  padding-top: 20px;
}

.padding-block-1-2 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.padding-block-2-1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.block {
  display: block;
}

.w-clear:after {
  content: "";
  clear: both;
  display: table;
}

.selected-object {
  cursor: pointer;
}

.ui-select-multiple.ui-select-bootstrap {
  border-radius: 0 !important;
}