<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Создание проекта</h4>
            </div>
            <div class="modal-body">

               <form ng-submit="AdminProjects.createForm(AdminProjects.project)" name="AdminProjects.FormCreate" id="formCreate">

                    <div class="form-group" ng-class="{ 'has-error': AdminProjects.FormCreate.name.$touched && AdminProjects.FormCreate.name.$invalid }">
                        <label>Название:</label>
                        
                        <input type="text" class="form-control" name="name" ng-model="AdminProjects.project.name" required>

                        <div ng-messages="AdminProjects.FormCreate.name.$touched && AdminProjects.FormCreate.name.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminProjects.FormCreate.description.$touched && AdminProjects.FormCreate.description.$invalid }">
                        <label>Описание:</label>
                        
                        <input type="text" class="form-control" name="description" ng-model="AdminProjects.project.description" required>

                        <div ng-messages="AdminProjects.FormCreate.description.$touched && AdminProjects.FormCreate.description.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminProjects.FormCreate.status.$touched && AdminProjects.FormCreate.status.$invalid }">
                        <label>Статус:</label>
                        
                        <select class="form-control" name="status" ng-model="AdminProjects.project.status">
                            <option value="open">Открыт</option>
                            <option value="close">Закрыт</option>
                            <option value="delete">Удален</option>
                        </select>

                        <div ng-messages="AdminProjects.FormCreate.status.$touched && AdminProjects.FormCreate.status.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': AdminProjects.FormCreate.type.$touched && AdminProjects.FormCreate.type.$invalid }">
                        <label>Тип:</label>
                        
                        <select class="form-control" name="type" ng-model="AdminProjects.project.type">
                            <option value="internal">Внутренний</option>
                            <option value="external">Внешний</option>
                        </select>

                        <div ng-messages="AdminProjects.FormCreate.type.$touched && AdminProjects.FormCreate.type.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    Отмена
                </button>
                
                <button type="submit" class="btn btn-success" form="formCreate">
                    Создать
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>