<div class="manager-developers">
    <section class="content-header">
        <h1>
            Список пользователей
            <small>demo</small>
        </h1>

        <button type="button"
                class="btn btn-success btn-sm pull-right"
                data-toggle="modal"
                data-target="#createUser"
                ng-click="AdminUsers.clearUser()">
                    Добавить пользователя
        </button>
    </section>

    <section class="content">
        <div class="padding-block-2-0"> </div>

        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table st-table="AdminUsers.users" st-pipe="AdminUsers.ajaxFilter" class="table table-hover table-striped table-bordered" refresh-table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th st-sort="last_name">Фамилия</th>
                            <th st-sort="first_name">Имя</th>
                            <th st-sort="email">E-mail</th>
                            <th st-sort="role">Тип пользователя</th>
                            <th class="text-center">Действия</th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th><input class="form-control" st-search="last_name"/></th>
                            <th><input class="form-control" st-search="first_name"/></th>
                            <th><input class="form-control" st-search="email"/></th>
                            <th>
                                <select class="form-control" st-search="role" />
                                    <option value=""> </option>
                                    <option value="blocked">Удален</option>
                                    <option value="client">Клиент</option>
                                    <option value="developer">Разработчик</option>
                                    <option value="manager">Менеджер</option>
                                    <option value="admin">Админ</option>
                                </select>
                            </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{ 'danger': user.role == 'blocked' }" ng-repeat="user in AdminUsers.users">
                            <td>{{ $index + 1 }}</td>
                            <td class="selected-object" ui-sref="admin.user-projects({id: user.id})" ui-sref-disabled="user.role === 'admin'">
                                {{ user.last_name }}
                            </td>
                            <td class="selected-object" ui-sref="admin.user-projects({id: user.id})" ui-sref-disabled="user.role === 'admin'">
                                {{ user.first_name }}
                            </td>
                            <td class="selected-object" ui-sref="admin.user-projects({id: user.id})" ui-sref-disabled="user.role === 'admin'">
                                {{ user.email }}
                            </td>
                            <td>
                                <span ng-if="user.role == 'blocked'">Удален</span>
                                <span ng-if="user.role == 'client'">Клиент</span>
                                <span ng-if="user.role == 'developer'">Разработчик</span>
                                <span ng-if="user.role == 'manager'">Менеджер</span>
                                <span ng-if="user.role == 'admin'">Админ</span>
                            </td>

                            <td class="text-center">
                                <button class="btn btn-success btn-xs"
                                        ng-click="AdminUsers.editUser(user)"
                                        data-toggle="modal"
                                        data-target="#editUser">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger btn-xs"
                                        ng-click="AdminUsers.setUser(user)"
                                        data-toggle="modal"
                                        data-target="#deleteUser"
                                        ng-show="user.role !== 'blocked'">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- loading a modal window for adding a user -->
    <div ui-view="userCreate"></div>
    <!-- loading a modal window for editing a user -->
    <div ui-view="userEdit"></div>
    <!-- loading a modal window for removal a user -->
    <div ui-view="userDelete"></div>

</div><!--container-fluid-->