<div class="questions-page">
    <div class="panel panel-default">
        <div class="panel-heading">
            Some table
        </div>

        <div class="box-body table-responsive no-padding">
            <table st-table="Editor.questions" st-pipe="Editor.ajaxFilter" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="30">#</th>
                        <th st-sort="category">Тип_теста</th>
                        <th st-sort="question">Тект_вопроса</th>
                        <th st-sort="isAnswered">Проверен</th>
                        <th st-sort="created" width="100" st-sort-default="true">Добавлен</th>
                        <th class="text-center">Действия</th>
                    </tr>
                    <tr>
                        <th>{{ Editor.total }}</th>
                        <th>
                            <select class="form-control" st-search="category">
                                <option ng-repeat="tech in Editor.technologies" value="{{ tech._id }}">
                                    {{ tech.text }} ({{ tech.count }})
                                </option>
                            </select>
                        </th>
                        <th>
                            <textarea class="form-control" st-search="question" rows="1"></textarea>
                        </th>
                        <th>
                            <select class="form-control" st-search="isAnswered">
                                <option value=""> </option>
                                <option value="true">Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{ 'warning': !question.isAnswered }" ng-repeat="question in Editor.questions">
                        <td>{{ $index + Editor.currentCount }}</td>
                        <td>{{ question.category }}</td>
                        <td>{{ question.question }}</td>
                        <td>
                            <span ng-if="question.isAnswered">Да</span>
                            <span ng-if="!question.isAnswered">Нет</span>
                        </td>
                        <td>{{ question.created * 1000 | date:'yyyy-MM-dd' }}</td>
                        <td class="text-center">
                            <a class="btn btn-success btn-sm"  href="javascript: void(0);" ui-sref="quaere({id: question._id})">Edit</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="30" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
