<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Редактирование пользователя</h4>
            </div>
            <div class="modal-body">

               <form ng-submit="vm.editForm(vm.user)" name="editForm" id="editForm">
                    <div class="form-group" ng-class="{ 'has-error': editForm.email.$touched && editForm.email.$invalid }">
                        <label>E-mail:</label>

                        <input type="email" class="form-control" name="email" ng-model="vm.user.email" required>

                        <div ng-messages="editForm.email.$touched && editForm.email.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.first_name.$touched && editForm.first_name.$invalid }">
                        <label>Имя:</label>

                        <input type="text" class="form-control" name="first_name" ng-model="vm.user.first_name" required>

                        <div ng-messages="editForm.first_name.$touched && editForm.first_name.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.last_name.$touched && editForm.last_name.$invalid }">
                        <label>Фамилия:</label>

                        <input type="text" class="form-control" name="last_name" ng-model="vm.user.last_name" required>

                        <div ng-messages="editForm.last_name.$touched && editForm.last_name.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Тип пользователя:</label>

                        <select class="form-control" name="role" ng-model="vm.user.role">
                            <option value="blocked">Удален</option>
                            <option value="client">Клиент</option>
                            <option value="developer">Разработчик</option>
                            <option value="manager">Менеджер</option>
                            <option value="admin">Админ</option>
                        </select>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.project.$touched && editForm.project.$invalid }">
                        <label>Проект:</label>

                        <ui-select ng-model="vm.user.Projects" theme="bootstrap" multiple>
                            <ui-select-match placeholder="Выбирите проект...">
                                {{ $item.name }}
                            </ui-select-match>
                            <ui-select-choices repeat="project in vm.listProjects | filter:$select.search">
                                {{ project.name }}
                            </ui-select-choices>
                        </ui-select>

                        <div ng-messages="editForm.project.$touched && editForm.project.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.password.$touched && editForm.password.$invalid }">
                        <label>Пароль:</label>

                        <input type="password" class="form-control" name="password" ng-model="vm.user.password">

                        <div ng-messages="editForm.password.$touched && editForm.password.$error">
                            <div ng-messages-include="/app/partials/validation-messages.template.html"></div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer text-center">
                <button class="btn btn-danger pull-left"
                    ng-click="vm.setScreensModal()"
                    data-toggle="modal"
                    data-target="#deleteModal">
                    Удалить все скриншоты
                </button>

                <button class="btn btn-danger pull-right"
                    ng-click="vm.setRealUserModal()"
                    data-toggle="modal"
                    data-target="#deleteModal">
                    Удалить пользователя
                </button>

                <div class="clearfix"></div>
                <hr/>

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    Отмена
                </button>

                <button type="submit" class="btn btn-success pull-right" form="editForm">
                    Обновить
                </button>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>